<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.shuaibird.toogle.visibility</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>BCE4A0DF-D1B5-4095-92DE-259DA09DD68A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2236BBE-D5D6-4311-9781-AAE2C5AE5E92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D10FC646-AD82-4E4D-8CA8-EEA267E50EA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D10FC646-AD82-4E4D-8CA8-EEA267E50EA7</key>
		<array/>
		<key>DA5FB8C0-A0E5-44A5-8CB8-A8AD186C34BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D54C6555-82B6-4AB9-9B1B-5657545A263A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>shuaibird</string>
	<key>description</key>
	<string>Toggle the visibility of any application.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Visibility</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>toggle.scpt</string>
				<key>filetext</key>
				<string>set appPath to "{query}"set target to POSIX file appPath as aliastell application "System Events"		set ps to (every process whose background only is false)		repeat with i in ps		set p to POSIX path of file of i		set p to POSIX file p as alias		if p is target then			if frontmost of i then				set visible of i to false			else				set frontmost of i to true			end if			return		end if	end repeatend telltell application appPath to activate</string>
				<key>relativepathmode</key>
				<integer>1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>E2236BBE-D5D6-4311-9781-AAE2C5AE5E92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>toggle</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Toggle the visibility of any app</string>
				<key>title</key>
				<string>Toggle app visibility</string>
				<key>types</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>BCE4A0DF-D1B5-4095-92DE-259DA09DD68A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<true/>
				<key>text</key>
				<string>Use the presetted hotkey to toggle the app visibility.</string>
				<key>title</key>
				<string>Change the toggle target app to {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D10FC646-AD82-4E4D-8CA8-EEA267E50EA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DA5FB8C0-A0E5-44A5-8CB8-A8AD186C34BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript ./toggle.scpt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>toggle_app_visibility.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D54C6555-82B6-4AB9-9B1B-5657545A263A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This is a very useful workflow to toggling the visibility of any application.

In Alfred type (toggle &gt; [name_of_application]) to set the target application.

Use the pre-set Hotkey, which by default is (ctrl ^ + space), to toggle the visibility of the target app.</string>
	<key>uidata</key>
	<dict>
		<key>BCE4A0DF-D1B5-4095-92DE-259DA09DD68A</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Type `Toggle` in Alfred to set the target applicaton.</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>D10FC646-AD82-4E4D-8CA8-EEA267E50EA7</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>D54C6555-82B6-4AB9-9B1B-5657545A263A</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>DA5FB8C0-A0E5-44A5-8CB8-A8AD186C34BF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Set the trigger hotkey for toggling the visibility of the target application.</string>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>E2236BBE-D5D6-4311-9781-AAE2C5AE5E92</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/shuaibird/toggle-visibility-alfred-workflow</string>
</dict>
</plist>
